@tailwind base;
@tailwind components;
@tailwind utilities;

.rt-SelectIcon {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background-color: #F4A7B9 !important;
  width: 20px !important;
  border-radius: 9999px !important;
}
